<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
html, body {
    font-family: 'Roboto', sans-serif;
}
hr {
    width:20%;
    color: #FDDA1A;
    background-color: #FDDA1A;
    height: 3px;
  border: 0;
}
div.content {
    padding 5px 5px 5px 5px;
}
img {
    max-width: 100%;
    margin: auto;
    display: block;
}
h1 {
    font-size: 24px;
        text-transform: uppercase;

}
h2 {

    font-size: 18px;
}
h3 {

    font-size: 16px;
}
p, li, a, em {
    color: #404040;
    font-size: 14px;
}
p.title, p.subtitle {
    display: none;
}
</style>
</head>
<body>
<div class="content">
<h1 class="title">{{{title}}}</div>
<quote>{{{lede}}}</quote>
<img src={{hero}} />
{{{body}}}
</div>
</body>
</html>